.dashboard_c3  {
    justify-content: space-between;
}


.dashboard_c3 > div {
    width: 200px;
}

.dc3_task_id {
    display:flex;
}

.dc3_task_id > p:first-child {
    width: 40px;
}

.dc3_workdone {
    display: flex;
}

.dc3_workdone > p:first-child {
    width: 90px;
}