.home_button_task {
    /* background-color: #04AA6D; */
    background-color:  #28a745;
    color: white !important;
    width: 100%;
    margin-top: 10px;
    height: 24px;
    padding-top: 2px;
}


li.nested_task {
    margin-top: 0px;
}