#add_picker_root {

    width: 100vw;
    height: 80vh;
    /* background-color: white; */
    /* border: 1px solid black; */
}

.add_picker_parent_div {
    background-color: white;
    width: 30rem;
    height: 30rem;
    margin: auto;
    /* position: fixed; */
    border-radius: 10px;
    /* text-align: center; */
    padding: 40px 83px 40px 40px;
}

.add_picker_parent_div > h2 {

    text-align: center;
    margin: auto;
    margin-left: 39px;
    font-family: cursive;
     
    /* background-color: red ; */
    margin-bottom: 30px;


}

.inner_div_add_picker ~ div ,
.inner_div_add_picker
 {
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}


.input_box_add_picker,
.file_input_add_picker
 {
    width: 220px;
    height: 30px;
    align-items: end;
    background-color: white;
    border: 1px solid black;
    padding: 5px ;

}

.select_tag_add_picker {
    width: 220px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    padding: 5px    ;

}

.file_input_add_picker {
   border: none;
}


.add_picker_submit_btn {
    background-color: blue;
    color: white;
    width: 100%;
    position: relative;
    left: 21px;
    top: 30px;
}